# Đổi tên file này thành .env và điền các biến môi trường cần thiết
BREVO_API_KEY= # replace with your brevo api key to send transactional email when user register to join the event
BREVO_SENDER_EMAIL=
DISCORD_WEBHOOK_URL= # replace with your discord webhook url of a channel in your server
FIREBASE_ADMIN_EMAILS=""
FIREBASE_SERVICE_ACCOUNT_BASE64= #base64 string of the firebase service account json file
NEXT_PUBLIC_BASE_URL="quant-events.netlify.app" # replace with the production url
NEXT_PUBLIC_DEV_MODE_NO_ADMIN_ENFORCE=false # set to true to disable admin enforcement in dev mode
NEXT_PUBLIC_STATIC_MODE=false # set to true to enable static mode (no auth, no db)